MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/procuisine
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@procuisine.fr
ADMIN_PASSWORD=your-admin-password
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CONTACT_NOTIFICATION_EMAIL=contact@procuisine.fr
